
<%= form_for([@post, @step]) do |f| %>

<div class="form-group">
    <div>
      <%= f.label :title%>
      <%= f.text_field :title, class: 'form-control' %>
      <%= f.file_field :stepimage %>	
    </div>
</div>

<div class="jumbotron">
    <%= cl_image_tag(@step.stepimage, :alt => "Step Image", :width => 200, :height => 200, :crop => :fill)%>
    <%= f.text_area :content, class: 'form-control' %>
</div>

<div class="form-group">
      <div>
        <%= f.submit :Edit, class: 'btn btn-success' %>
      </div>
  </div>

<% end %>
<%= csrf_meta_tags %>
<%= cloudinary_js_config %>
