
<%= content_tag_for :div, step do %> 
  <div class="panel-heading">
    <h3 class="panel-title"><%= step.title %></h3>
  </div>
  <div class="panel-body">
    <%= cl_image_tag(step.stepimage, :alt => "Step Image", :width => 200, :height => 200, :crop => :fill)%>
    <% unless params[:action] == 'edit'%>
      <%= step.content%>
    <% end %>
  </div>
  <% unless params[:action] == 'show'%>
    <% if can? :update, step %>
      <%= link_to 'Edit', edit_step_path(step) %> |
    <% end %>
    <% if can? :destroy, step %>
      <%= link_to 'Destroy', step, method: :delete %>
    <% end %>
  <% end %>
  
  <% unless params[:action] == 'edit'%>

  <div>
  <p>Comments</p>
    <% if step.comments.any? %>
      <%= render step.comments %>
    <% else %>
      <p>Comments not found</p>
    <% end %>
  </div>
  
     <% if can? :create, Comment %>
    <div>
      <p>Add comment</p>
      <%= form_for([step, step.comments.build]) do |f|%>
      <%= f.text_area :content %>
      <%= submit_tag "Add" %>
      <% end %>
    </div>
    <% end %>
  <% end %>
<% end %>

