= form_for(post) do |f|
  - if post.errors.any?
    #error_explanation
      %h2
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - post.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :category
    %br/
    = f.collection_select(:category_id, @categories, :id, :name, :include_blank => "Please select")
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :tag_ids, "Tags"
    = f.text_field :tag_list, class: 'form-control'
    = f.collection_select :tag_ids, Tag.order(:name), :id, :name, {}, {multiple: true}
  .actions
    = f.submit