<%= form_for(post) do |f| %>

  <div class="field">
    <%= f.label :tag_list, "Tags" %>
    <%= f.collection_select :tag_ids, Tag.order(:name), :id, :name, {}, {multiple: true} %>

  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div id = "steps">
  <% if post.steps.any? %>
  <%= render post.steps =%>
  <% else %>
  <p> Not found any step</p>
  <% end %>
  <%= link_to 'Add Step', new_post_step_path(@post) %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
