<%= form_for(post) do |f| %>
<form class="form-horizontal">
  <fieldset>
  <div class="form-group">
    <%= f.label :tag_tokens, "Tags: ",  class: "col-sm-1"%>
    <div class="col-lg-11">
    <%= f.text_field :tag_tokens, data: {load: @post.tags} %>
    </div>
  </div>

  <div class="form-group">
      <%= f.label :title, class: "col-lg-1" %>
      <div class="col-lg-5">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <% unless params[:action] == 'new'%>
  <div class="form-group">
      <%= link_to 'Add Step', new_post_step_path(@post), class: 'btn btn-success'  %>
  </div>
  <% end %> 

  <div class="jumbotron">
    <div id = "steps" >
      <% if post.steps.any? %>
        <%= render post.steps =%>
      <% else %>
        <p> Not found any step</p>
     <% end %> 
    </div>
  </div>

  <div class="form-group">
      <div>
        <%= link_to 'Back', posts_path, class: 'btn btn-success' %>
        <%= f.submit :Done, class: 'btn btn-success' %>
      </div>
  </div>
<% end %>
</fieldset>
</form>