
<p>
  <strong>Author:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<div class="jumbotron">
  <% if @post.steps.any? %>
  <%= render @post.steps.paginate(page: params[:page], per_page: 1) =%>
  <% else %>
  <p> Not found any step</p>
  <% end %>
  <%= will_paginate @steps %>
</div>
<p>
  
</p>
<%= @post.score %>
<% if can? :upvote, @post %>
<%= link_to 'Useful', like_post_path(@post), method: :put%> 
<% end %>
<% if can? :downvote, @post %>
<%= link_to 'Unuseful', dislike_post_path(@post), method: :put%> 
<% end %>
<% if can? :update, @post %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<% if can? :destroy, @post %>
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', posts_path %>
